.footer{
    background-color: whitesmoke;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2 ,1fr);
    grid-template-rows: auto;


}

.link-redes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.enlaces-pro:visited{
    color: violet;
   }

