.navegation{
    background-color:whitesmoke;
    width: 110%;
    height: 110px;
    
    ul li {
        list-style: none;
        text-decoration: none;
        position:relative;
        display: inline-block;
        margin: 55px 55px;
        justify-content: space-between;
       
        a {
            color: blue;
            text-decoration: none;
            margin: relative;}
    
    }
}





